
div, h1, input {
    font-family: HelveticaNeue, Helvetica;
    color: #777;
}

.universe {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  z-index: 10;
}

.ship {
 position: absolute;
 font-weight: bold;
 color: white;
}

.example-clock {
    font-size: 128px;
    line-height: 1.2em;
    font-family: HelveticaNeue-UltraLight, Helvetica;
}

@media (max-width: 768px) {
    .example-clock {
        font-size: 64px;
    }
}

.color-input, .color-input input {
    font-size: 24px;
    line-height: 1.5em;
}
