{:output-dir "resources/public/js", :optimizations :none, :preloads [figwheel.connect], :output-to "resources/public/js/client.js", :source-map-timestamp true, :asset-path "js", :source-map true, :external-config #:figwheel{:config {:on-jsload "closhooter.core/run", :build-id "client", :websocket-url "ws://localhost:3449/figwheel-ws"}}, :main "closhooter.core"}